[submodule "src/tools/diff-so-fancy"]
	path = src/tools/diff-so-fancy
	url = https://github.com/so-fancy/diff-so-fancy.git
[submodule "src/tools/fzf"]
	path = src/tools/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "src/tools/git-extras"]
	path = src/tools/git-extras
	url = https://github.com/tj/git-extras.git
[submodule "src/tools/git-quick-stats"]
	path = src/tools/git-quick-stats
	url = https://github.com/arzzen/git-quick-stats.git
[submodule "src/tools/httpstat"]
	path = src/tools/httpstat
	url = https://github.com/b4b4r07/httpstat.git
[submodule "src/tools/spark"]
	path = src/tools/spark
	url = https://github.com/holman/spark.git
[submodule "src/tools/spectre-meltdown-checker"]
	path = src/tools/spectre-meltdown-checker
	url = https://github.com/speed47/spectre-meltdown-checker.git
[submodule "src/tools/testssl.sh"]
	path = src/tools/testssl.sh
	url = https://github.com/drwetter/testssl.sh.git
[submodule "src/tools/tldr-bash-client"]
	path = src/tools/tldr-bash-client
	url = https://github.com/pepa65/tldr-bash-client.git
[submodule "src/zsh/plugins/zsh-abbr"]
	path = src/zsh/plugins/zsh-abbr
	url = https://github.com/olets/zsh-abbr.git
[submodule "src/zsh/plugins/zsh-z"]
	path = src/zsh/plugins/zsh-z
	url = https://github.com/agkozak/zsh-z.git
[submodule "src/zsh/plugins/zsh-syntax-highlighting"]
	path = src/zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "src/zsh/plugins/powerlevel10k"]
	path = src/zsh/plugins/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "src/zsh/plugins/git-completion"]
	path = src/zsh/plugins/git-completion
	url = https://github.com/felipec/git-completion.git
[submodule "src/zsh/plugins/fzf-tab"]
	path = src/zsh/plugins/fzf-tab
	url = https://github.com/Aloxaf/fzf-tab.git
[submodule "src/zsh/plugins/dircolors-solarized"]
	path = src/zsh/plugins/dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized.git
[submodule "src/zsh/plugins/zsh-defer"]
	path = src/zsh/plugins/zsh-defer
	url = https://github.com/romkatv/zsh-defer.git
[submodule "src/zsh/plugins/zsh-completions"]
	path = src/zsh/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "src/zsh/plugins/zsh-autosuggestions"]
	path = src/zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "src/zsh/plugins/zsh-autopair"]
	path = src/zsh/plugins/zsh-autopair
	url = https://github.com/hlissner/zsh-autopair.git
[submodule "src/zsh/plugins/zsh-autoenv"]
	path = src/zsh/plugins/zsh-autoenv
	url = https://github.com/Tarrasch/zsh-autoenv.git
[submodule "src/zsh/plugins/archive"]
	path = src/zsh/plugins/archive
	url = https://github.com/romkatv/archive.git
[submodule "src/tools/--force"]
	path = src/tools/--force
	url = https://github.com/romkatv/zsh-bin.git
[submodule "src/tools/zsh-bin"]
	path = src/tools/zsh-bin
	url = https://github.com/romkatv/zsh-bin.git
[submodule "src/tools/src/tools/zsh-bin"]
	path = src/tools/src/tools/zsh-bin
	url = https://github.com/romkatv/zsh-bin.git
